.header {
  background-color: transparent;
  width: 100%;
  padding: 20px;
}

.header-inner {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.header-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 190px;
}


/* 모바일 디바이스 */
@media (max-width: 768px) {
  .header-inner {
    width: 100%;
  }
}