@import url(common.css);

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'SUIT Variable', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 50px;
}
.header {
  width: 1440px;
  height: inherit;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
}

main {
  width: 100%;
  height: 100vh;
  background: url(../images/background.png) no-repeat center bottom;
  background-size: cover;
  position: relative;
}
section {
  background-color: #fff;
  width: 540px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  display: flex;
  flex-flow: column nowrap;
}