@import './../../css/common.css';


/* 셀렉트 */
select {
  border: 1px solid #757575;
  border-radius: 5px;
  color: #757575;
  display: flex;
  text-align: center;
  width: 110px;
  height: 40px;
  /* 화살표 지우기 */
  appearance: none;
  background: url(./../../images/bi_caret-down-fill.svg) no-repeat 90px;
}
.select {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 110px;
  height: 40px;
  line-height: 1.5;
}
.select .icon-global {
  position: absolute;
  left: 5px;
}


/* 버튼 */
.login-button {
  background: #E50914;
  color: #fff;
  width: 70px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
}

.free-button {
  background: #E50914;
  color: #fff;
  width: 210px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}


/* 이메일 인풋 */
.email-add input {
  width: 540px;
  padding: 18px 20px;
}