body {
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 1.4rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #121212;
}

* {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
}
.mini-box {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 502px;
}

/* item-1 */
.item-1 {
  border: 2px solid #eee;
  width: 502px;
  height: 310px;
  margin: 10px auto;
  transition: 1s;
}
.item-1box {
  position: relative;
  width: 460px;
  height: 310px;
  margin: auto;
  overflow: hidden;
}
.item-1img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}


/* item-2 */
.item-2 {
  border: 2px solid #eee;
  width: 243px;
  height: 310px;
  transition: 1s;
}
.item-2box {
  position: relative;
  width: 210px;
  height: 310px;
  margin: auto;
  overflow: hidden;
}
.item-2img {
  width: inherit;
  height: inherit;
  text-align: center;
}
.logo-kamill img {
  padding: 10px 0 10px 0;
}
.product-1 img {
  width: 180px;
}

/* item-3 */
.item-3 {
  border: 2px solid #eee;
  width: 243px;
  height: 310px;
  transition: 1s;
}
.item-3box {
  position: relative;
  width: 210px;
  height: 310px;
  margin: auto;
  overflow: hidden;
}
.item-3img {
  width: inherit;
  height: inherit;
  text-align: center;
}
.logo-gomgom img {
  padding: 10px 0 10px 0;
}
.item-3img h5 {
  font-size: 18px;
  color: #121212;
  margin: 0;
  padding: 15px 0 15px 0;
}
.product-2 img {
  width: 180px;
}

/* h5 텍스트 영역 */
.item-1img h5,
.item-2img h5,
.item-3img h5 {
  font-size: 18px;
  color: #363636;
  margin: 0;
  padding: 15px 0 15px 0;
}

/* Hover */
.item-1:hover,
.item-2:hover,
.item-3:hover {
  border: 2px solid #0074E9;
}
.item-1:hover .btn-1,
.item-2:hover .btn-2,
.item-3:hover .btn-3 {
  transform: translateX(65px);
  background: royalblue;
}

/* Button */
.btn-1,
.btn-2,
.btn-3 {
  position: absolute;
  bottom: 15px;
  left: -70px;
  border: none;
  background: rgba(1, 1, 1, 0.2);
  color: #eee;
  font-size: 13px;
  width: 112px;
  height: 42px;
  transition: 1s;
  cursor: pointer;
}