@import './css/common.css';
@import './css/reset.css';

/* 메인 영역 */
body {
  width: 100%;
  height: 100vh;
  background-image: url(./../mission-03/images/background.png);
  background-color: rgba(0, 0, 0, 0.95);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  
.main {
  width: 80%;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  padding: 150px 240.5px;
  text-align: center;
}

.main-title {
  width: 600px;

  & p {
    padding: 10px;
  }
}
.main-title-large *{
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}
.main-title-midium {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  letter-spacing: -0.01px;
}
.main-title-small {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.008px;
}

.main-email {
  width: 600px;
}
.email-input-button {
  display: flex;
  flex-flow: row nowrap;
}
.promotion {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.008px;
  padding-top: 10px;
}



/* 모바일 디바이스 */
@media (max-width: 768px) {
  .email-add {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 20px;
  }
  .email-add input {
    width: 100%;
    border-radius: 50px;
    border: 0;
  }
  .free-button {
    width: 210px;
    border-radius: 50px;
  }
}