@import './css/common.css';
@import './css/reset.css';

/* 메인 영역 */
body {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  background-image: url(./../mission-03/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  width: 1280px;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  padding: 57px 240.5px;
  text-align: center;
}

.main-title {
  background-color: lightpink;
  width: 518px;
}


.main-email {
  background-color: lightskyblue;
}
.email-input-button {
  display: flex;
  flex-flow: row nowrap;

}